DATABASE_URL=postgres://yourname@localhost/my_db
DATA_DIR=./your/data/directory
JWT_SECRET=<jwt_secret>
JWT_LIFE_TIME=<lifetime_in_hours>
ADMIN_PASSWORD=<admin_password>
CONNECTION_TEST_CHAT_STRING=<random_string>
